
.home_section {
    display: flex;
    flex-flow:wrap;
    margin-top: 5em;
    width:95em;
    justify-content:center;
    align-content:center;
  
 
}
.home{
    display:flex;
    justify-content:center;
    width:70em;
    margin-left:8em
  
 
    
}
.Homecards {
    display:flex;
    justify-content:center;
    flex-direction: column;

}