
.home-section {
    display:flex;
    padding:30px;
   flex-wrap:wrap;
   width:100%;
  margin:auto;
  padding:1em;
   
}
/* .home{
    display:flex;
    justify-content:center;
    width:70em;
    margin-left:8em */
  
 
    
/* } */
/* .Homecards {
    display:flex;
    justify-content:center;
    flex-direction: column;

} */