.card {
    margin: 1em;
   width: 18em;
   height: 20em;
 display: flex;
 flex-wrap: nowrap;
   background:white;
   padding: 4px;
   border-top-left-radius: 5%;
   border-top-right-radius: 5%;
   border-bottom-left-radius: 5%;
   border-bottom-right-radius: 5%;


}
 



