.card {
  justify-content:center;
    margin: .5em;
   width: 15em;
   height: 15em;
 display: flex;
 flex-wrap: nowrap;
   background:white;
   border-top-left-radius: 5%;
   border-top-right-radius: 5%;
   border-bottom-left-radius: 5%;
   border-bottom-right-radius: 5%;


}
.details {
  display:flex;
  justify-content:space-between;
  width:12em;
  flex-direction:row;
  margin-left: 1em;
  cursor:pointer;

  
  
}
.fa-solid {
  padding: .4em;
  font-size: small;
}




