.card {
  margin:10px;
  border:0px solid black;
  border-radius:10px;
  overflow:hidden;
  box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
  transition: transform 100ms ease-in;
  cursor:pointer;


}
.cardimg {

  
  object-fit:fill;
  max-width: 300px;
  max-height: 200px;
  height:15em;
  width:100%
}
.card:hover {
  transform:scale(1.07)
}
.card-info {
  margin-top: -9px;
  border-radius:10px;
  padding:20px;
  padding-top:20px;
  border:1;
}
.cardh2 {
  font-size:18px;
  font-weight:600;
}
.cardh4 {
  font-size:14px;
  font-weight:300;
  margin-top:8px;
  margin-bottom:8px;
}


