.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    background-color: white;
    z-index:100;
    width: 100%;
    top: 0;
}


.header_icon {

    height: 30px;
    margin-left: 64px;
    margin-top: 5px
    
}

/* .header_center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width:fit-content;
    padding: 10px;
    height:30px;
     border: 1px solid lightgray; */


    
/* } */

 .header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 98px;
    margin-top: 3px;
    font-size: 16px
} 