.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
  
    background-color: white;
    z-index:100;
    width: 100%;
    top: 0;
}
.hidden {
    display:none;
    
  
}


.header_icon {

    height: 50px;
    margin-left: 64px;
    margin-top: 5px
    
}

 

 .header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 98px;
    margin-top: 3px;
    font-size: 16px
} 

.open {
    display:flex;
    padding:3em;
} 