.SpotName {
    display: flex;
    margin-left: 6.5em;
    margin-bottom:0;
  }
  .fa-solid {
    margin-top:1.5em;
    justify-self:left;
  }
  .spotDetails {
    display: flex;
    margin-left:13em;
    margin-right: 6em;
   justify-content: left
  }

.detailsRight {
    display:flex;
    width: 10em;
    
  }

 .detailsCenter{
     width: 80px;
  justify-content: left;
  display: flex;
}
.detailsLeft{
    margin-right: 10px;
  justify-content: flex-end;
  display: flex;
  width: 190px;
}
.Image {
    display: flex;
    margin-left: 13em;

    
    height: 100%;
    width: 32em;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }
  .price {
    justify-content:right;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display:flex;
font-weight: 200;
font-size: 24px;
    justify-content: start;
   height: 11em;
width: 24%;
   box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);

  margin-left:37.5em;

  }
  .mainImage {
    display: flex;
  width: 26em;
  flex-flow: column;
  flex-wrap: wrap;
  height: 22em;
  justify-content:center;
  margin-right: 20em
 
 
  }
  .Image2 {
    height: 11em;
    width: 15em;
    padding: 1px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }
  .imagediv {
    display:flex;
    flex-flow: column;
    
  }
  .div2 {
    display :inline-grid;

    


  }
.buttons{
display:flex;
justify-content:center;
justify-content:space-around;
padding:1em;

}



    
