.SpotName {
    display: flex;
    margin-left: 6.5em;
    margin-bottom:0;
    

  
  }
  .fa-solid {
    margin-top:1.5em;
    justify-self:left;
  }
  .spotDetails {
  
    display: flex;
    margin-left:13em;
    margin-right: 6em;
   justify-content: left
  }

.detailsRight {
    display:flex;
    
    width: 10em;
    
  }

 .detailsCenter{
     width: 80px;
  justify-content: left;
  display: flex;
 
}
.detailsLeft{
    margin-right: 10px;
  justify-content: flex-end;
  display: flex;
  width: 190px;
}
.Image {
    display: flex;
    margin-left: 13em;

    
    height: 100%;
    width: 32em;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }
  .prices {
    font-size:20px;
    display:flex;
 flex-direction: column;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  min-width:14em;

   box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
  margin-left:19.5em;

  }
  .mainImage {
    display: flex;
  width: 26em;
  flex-flow: column;
  flex-wrap: wrap;
  height: 22em;
  justify-content:center;
  margin-right: 20em
 
 
  }
  .Image2 {
    height: 11em;
    width: 15em;
    padding: 1px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }
  .imagediv {
    display:flex;
    flex-flow: column;
    
  }
  .div2 {
    display :inline-grid;
    
    
    
    
  }

.reviews{
  display: flex;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  width:25em;
  height: 30em;
  margin-top: 2.5em;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
  margin-left:12em;
}
.reviewsb{
display: inline-flex;
padding: 2px;
margin-left:1em;
min-width:fit-content;
width:20em;



}
.full{
display:inline-block;
margin-left:3em;
align-content:center;
width:90em;

}
.ReviewTxt {
  width:20em;

 
}


.detailss {
  margin-left: 13em;
  font-size:large
}
.buttonprices {
  display:flex;

  flex-direction: column;
  margin-left:.4em;
  padding:.5em;
  width:12em;
  margin-top:.2em;
  border-radius: 1ch;
}




