.loggedhidden {
  display:none
}
.hidden{
  display:none
}
.hovers{
  cursor:pointer;
  height:7em;
 
}
.hohidden {
  display:none;
}
.Demo {
  height:2em;
        color: rgb(234, 225, 225);
        background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
      }
      .menu {
        display:flex;
        width:3em;
        height: 1.5em;
        align-items:center;
        position:absolute;
        margin-top:1em;
        margin-bottom:em;
        border-radius: 2em;
        font-size:x-large;
        margin-left:1em;
        cursor:pointer;
        
      }
      .fa-solid {
        margin-bottom:1.5em;
    
        
      }
      .ho {
        display:flex;
        font-size: x-large;
        background-color:white;
        width:5em;
        height:7em;
  padding:.3em;
  position:relative;
  border-radius: 5%;
  box-shadow: 0em 0em .5em rgba(120, 92, 92, 0.5);
  margin-top: 3.5em;
  margin-right:8em;


}

.demoButton{
  display:flex;
  background-color:rgba(255, 255, 255, 0.872);
  height:5em;
  width: 8em;
  border-bottom:1.5px solid rgba(73, 75, 74, 0.272);
  cursor:pointer;

  
}
.header_user {
  
  margin-left: 72em;
  display:flex;
  position:absolute;
  height:10.9em;
  width:12.6em;
  
}
.header_icon {
  display:inline-flex;
  height:5em;
  margin-left:2em;
  height:4em;
   margin-top:0em;


}
.logged {
  display:inline-block;
  height:10em;
  justify-content:bottom;
  margin-top:5em;
  margin-right:3em


}
.header_r {
  display:inline-flex;
  margin-top:1em;
  padding:.5em;

  margin-left:9em;

}
.create {
  display:inline-flex;
flex-flow: row;
 margin-left:47em;
 margin-top:2.5em;
 width:15em;
 
 
  
  
  
}
.header {
display:flex;
width:100%;


  
}
.creation {
  cursor:pointer;

}


