.loggedhidden {
  display:none
}
.hidden{
  display:none
}
.hover{
  cursor:pointer;
  height:7em;
 
}
.hohidden {
  display:none;
}
.Demo {
  height:2em;
        color: white;
        background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
      }
      .menu {
        display:flex;
        width:3em;
        height: 1.5em;
        align-items:center;
        position:absolute;
        margin-top:1em;
        margin-bottom:em;
        border-radius: 2em;
        font-size:x-large;
        margin-left:1em;
        
      }
      .fa-solid {
        margin-bottom:1.5em;
      }
      .ho {
        display:flex;
        font-size: x-large;
        background-color:white;
        width:5em;
        height:7em;
  padding:.3em;
  position:relative;
  border-radius: 5%;
  box-shadow: 0em 0em .5em rgba(0, 0, 0, .5);
  margin-top: 3.5em;
  margin-right:8em;


}
p:hover {
background:rgba(153, 152, 152, 0.219);
width:5em;

}
.demoButton{
  display:flex;
  background-color:white;
  height:5em;
  width: 8em;
  border-bottom:1.5px solid rgba(107, 117, 108, 0.272);


  
}
.header_user {
  
  margin-left: 72em;
  display:flex;
  position:absolute;
  height:10.9em;
  width:12.6em;
}
.header_icon {
  display:inline-flex;
  height:5em;
  margin-left:5em;
  height:4em;
   margin-top:0em;
  border-bottom:1.5px solid rgba(107, 117, 108, 0.632);

}
.logged {
  display:inline-block;
  height:10em;
  justify-content:bottom;
  margin-top:5em;
  margin-right:3em


}
.header_r {
  display:inline-flex;
  margin-top:1em;

  margin-left:6em;

}
.create {
  display:inline-flex;
flex-flow: row;
 margin-left:50em;
 margin-top:2.5em;
 width:15em;
  
  
  
}
.header {
display:flex;
width:100%;


  
}



