.labels {
  display: flex;
  justify-items: center;
  margin-left: 1.2em;

  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.title {
  margin-left: 0.5em;
}

.buttonEdit {
  width: 82.2%;
  margin-left: 3.6em;
}
